<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Progress</title>
    <script src="/static/script.js" defer></script>
</head>
<body>
    <h1>Live Progress Bar</h1>
    <h2>{{ request.headers.get("user-agent", "Unknown") }}</h2>
    <button onclick="startProcess()">Start</button>
    
    <div style="width:100%; background:#9c9a9a; margin-top:10px;">
        <div id="progress-bar" style="width:0%; height:30px; background:rgb(22, 234, 22);"></div>
    </div>

    <h2>Responses:</h2>
    <ul id="response-list"></ul>
</body>
</html>
